body{
    color: #c7da25;
    background-color: #0b0c05;
    margin: 0px;
    font-family: "New Amsterdam", sans-serif;
    margin-bottom: 100px;
}

header{
border-bottom: solid 2px rgb(0, 255, 255);
padding: 20px;
font-size: 32px;
color: rgb(0, 255, 255);
}

.primeira{
background: #0b0c05;
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;
}
.mmm {
    margin-right: 5%;
}
h1 {
    font-size: 40px;
  }
  p {
    font-size: 20px;
  }
  .videobugado{
    display: flex;
    overflow-x: auto;
    gap: 10px;;
  }
  .segunda{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
  }
  .segunda img{
    opacity: 0,25;
    height: 200px;
  }
  .segunda img:hover{
    opacity: 1,0;
    border: 1px solid green;
  }
  .primeira h2{
    color: rgb(0, 255,255);
  } 
  h2{
    border-bottom: solid 2px rgb(0, 255, 255);
  }